<!DOCTYPE html>
<html>
  <%- include('./partials/page.head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <section class="contentBox">
      <%- include('./partials/piano.ejs') %>
    </section>
    <section class="contentBox">
      <div class="boxHead">
        <p class="boxTitle">View all Root Notes</p>
        <br style="clear: both;" />
      </div>
      <section class="pageHelp">
        <button class="closeHelp" title="Close Help"><i class="far fa-window-close"></i></button>
        <p>Click a note on the piano to filter the list or click "View" on a note to see the note on the piano.</p>
        <p>For sharps and flats the first instance of the note should provide a Wikipedia link to the sharp; the second instance should link to the flat.</p>
      </section>
      <section class="boxContent">
        <p>Loading notes...</p>
      </section>
    </section>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
    <script src="/js/rootnote.js" type="text/javascript"></script>
    <script>
        let requestedRootNoteId = '<%- root_note_in %>'
    </script>
  </body>
</html>