<!DOCTYPE html>
<html>
  <%- include('./partials/page.head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <section class="contentBox">
      <%- include('./partials/piano.ejs') %>
    </section>
    <section class="contentBox">
      <div class="boxHead">
        <p class="boxTitle">View all Scales</p>
        <br style="clear: both;" />
      </div>
      <section class="pageHelp">
        <button class="closeHelp" title="Close Help"><i class="far fa-window-close"></i></button>
        <p>Click a note on the piano to filter the list of scales.</p>
        <p>Then click "View" to see the scale on the keyboard.</p>
      </section>
      <section class="boxContent">
        <p>Loading notes...</p>
      </section>
    </section>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
    <script src="/js/scales.js" type="text/javascript"></script>
    <script>
      let requestedRootNoteId = '<%- root_note_in %>';
    </script>
  </body>
</html>